.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    padding-bottom: 8px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}